{% extends 'core/base.html'%}
{% block titulo %}
Eliminar
{% endblock %}
{% load static %}
{% block contenedor %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
    <title>MisPerris</title>
</head>
<body>
        <br>
        <br>
        <br>
        <br>
    <center>
    <form method="POST" class="formulario">
        {% csrf_token %}
        <select name="nombre">
            {% for p in Perro %}
            <option>{{p.name}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Eliminar"/>
    </form>
    
    {% if respuesta %}
        <h1>Elimino</h1>
    {% endif %}
    </center>
</body>
{% endblock %}

